.yellow{
  background-color: yellow;
  display: inline-block;
}
.grey{
  background-color: grey;
  display: inline-block;
  margin: 20px;
}
h4 , .blanco{
  padding-top: 0.1em;
  margin: 0;
}
.blanco{
  color: white;
}
